.question {
    margin-bottom: 10px;
    position: relative;
    display: block;
    padding-left: 37px;
}

.q-item {
    display: inline-flex;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #3e3e3e;
    background-color: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fdfdfd;
    border: 1px solid #4A4A4A;
}

.btn.verbs.active {
    background-color: gray;
    color: white;
}

.btn.verbs.active.green {
    background-color: green;
    color: white;
}

.btn.verbs.active.red {
    background-color: red;
    color: white;
}

.btn.comfirm {
    background-color: skyblue;
    font-size: 16px;
}

.btn.comfirm:hover {
    background-color: lightblue;
}

.btn.comfirm:active {
    background-color: #9DE82C;
}

.btn.clear {
    background-color: red;
}

.btn.clear:hover {
    background-color: pink;
}

.btn.clear:active {
    background-color: #F4DD02;
}

.check-block {
    margin-top: 10px;
    display: inline-block;
}

/* tip */
.tip {
    margin-bottom: 10px;
    margin-left: 37px;
}

.tip-title {
    width: auto;
    display: inline-block;
}

.tip-content{
    display: none;
    margin-left: 20px;
    color: red;
}

.tip-title:hover .tip-content {
    display: inline-block;
}

.active .tip-content {
    display: inline-block;
}

.item-click {
    margin-left: 37px;
}

.item-click .title {
    display: inline-block;
    width: auto;
    margin-bottom: 10px;
}

.content {
    display: none;
}

.item-click.active .content {
    display: inline-block;
}

/* icon */
.icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    top: 10px;
    position: relative;
}

.icon-sign {
    position: absolute;
    left: 0;
}

.icon-crrect {
    background-image: url(images/correct.png);
    background-size: 32px 32px; 
}

.icon-error {
    background-image: url(images/error.png);
    background-size: 32px 32px;
}