.question {
    margin-bottom: 10px;
}

.q-item {
    display: inline-flex;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #3e3e3e;
    background-color: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fdfdfd;
    border: 1px solid #4A4A4A;
}

.btn.verbs.active {
    background-color: gray;
    color: white;
}

.btn.comfirm {
    background-color: skyblue;
}

.btn.comfirm:hover {
    background-color: lightblue;
}

.btn.comfirm:active {
    background-color: #9DE82C;
}

.btn.clear {
    background-color: red;
}

.btn.clear:hover {
    background-color: pink;
}

.btn.clear:active {
    background-color: #F4DD02;
}

.check-block {
    margin-top: 10px;
}

/* tip */
.tip {
    margin-bottom: 10px;
}

.tip-title {
    width: auto;
    display: inline-block;
}

.tip-content{
    display: none;
    margin-left: 20px;
    color: red;
}

.tip-title:hover .tip-content {
    display: inline-block;
}

.item-click .title {
    display: inline-block;
    width: auto;
}

.content {
    display: none;
}

.item-click.active .content {
    display: inline-block;
}
